
<div class="container">
  <div class="row">
    <div class="span10">
      <div class="logo">
      <span class="logo100">100</span> <span class="logoaus">AUSTRALIA</span>
      </div>
    </div>
    <div class="span2">
      <div class="">
      <div class="btn-group"> 
        <a class="btn btn-info btn-mini <%- (session.language==='en'?'disabled':'')%>" href="/en">English</a> 
        <a class="btn btn-info btn-mini <%- (session.language==='cn'?'disabled':'')%>" href="/zh-cn">简体中文</a>  
        <a class="btn btn-info btn-mini <%- (session.language==='tw'?'disabled':'')%>" href="/zh-tw">繁體中文</a> 
      </div>
      </div>
    </div>
  </div>



<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>      

      <div class="nav-collapse">
        <ul class="nav">
          <li <%- (page==='home'?'class="active"':'')%> ><a href="/"><%= content.nav.home %></a></li>
          <li <%- (page==='new'?'class="active"':'')%> ><a href="/new"><%= content.nav.new_products %></a></li>
          <li <%- (page==='topsellers'?'class="active"':'')%> ><a href="/topsellers"><%= content.nav.top_sellers %></a></li>
          <li <%- (page==='sale'?'class="active"':'')%> ><a href="/sale"><%= content.nav.sale %></a></li>
                               
        </ul>

        <ul class="nav pull-right">
          <li>
          <form class="navbar-search">
            <input type="text" class="search-query" placeholder="<%=content.nav.searchProducts %>">
          </form> 
          </li>            
          <li class="divider-vertical"></li>
          <li>
            <a href=""><i class="icon-shopping-cart icon-white"></i> <%= session.itemcount %> </a>
          </li>  
        </ul>          

      </div>

    </div>
  </div>
</div>

</div>
